@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "f Flying Bird Regular";
  font-style: normal;
  font-weight: normal;
  src: local("f Flying Bird Regular"),
    url("/src/assets/font/FlyingBird-Yz9Ga.woff") format("woff");
}

@font-face {
  font-family: "Balonku";
  font-style: normal;
  font-weight: normal;
  src: local("Balonku"),
    url("/src/assets/font/Balonku-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Balonku";
  src: url("/src/assets/font/Balonku-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vaguely Retro";
  src: url("/src/assets/font/Vaguely-Retro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
#root {
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.p,
span,
.span,
body {
  font-family: flyingBird sans-serif;
}

[class^="TokenOptions__OnHover"] {
  display: none !important;
}

[type="text"]:focus {
  box-shadow: none;
}

.widget-container .uniswap-widget {
  width: 100%;
}
.fKGqDB {
  width: 100%;
}